---
const { class: className, ...rest } = Astro.props
---
<div class="h-20">
  <h1 class:list={["title", "text-4xl text-gray-700", className]} {...rest}>
    <slot />
  </h1>
</div>
<style>
  .title {
  }
</style>
