---
import type { Router } from 'src/capabilities/router';
import type { Time } from 'src/capabilities/time';
import * as core from 'src/core';
import NavLink from 'src/components/NavLink.astro';
import NavMenu from 'src/components/NavMenu.astro';

interface Props {
  time: Time;
  router: Router;
  localization: core.types.Localization;
  profile: core.types.Profile;
}

const main = () => {
  const { time, router, localization, profile } = Astro.props;

  return {
    time, 
    router,
    localization,
    profile,
    path: Astro.url.pathname,
  }
}

const {
  time,
  router,
  profile,
} = main();
---
<body class="md:grid md:grid-cols-[max-content_1fr] md:gap-x-32 flex flex-col min-h-screen max-w-6xl w-11/12 m-auto text-gray-600">
  <header class="header text-xs text-gray-400 h-16 flex flex-wrap items-center justify-between w-full md:hidden">
    <ul class="flex justify-items-start items-center">
      <li class="md:mr-14 mr-6 text-base">
        <a class="main font-semibold text-gray-700" href={core.path.fromPathByLocale('/')(router.locale)}>
          Eriko Ikeda Kay
        </a>
      </li>
    </ul>
    <ul class="flex items-center">
      <li>
        <NavMenu router={router}>
          <section class="flex flex-col items-start mb-6">
            <div class="mb-4">
              <h2 class="text-sm text-gray-400">Works</h2>
            </div>
            <ul class="text-base text-gray-700">
              <li class="mb-4 w-full">
                <NavLink href={core.path.fromPathByLocale('translations')(router.locale)}>
                  Translations
                </NavLink>
              </li>
              <li class="mb-4 w-full">
                <NavLink href={core.path.fromPathByLocale('tags')(router.locale)}>
                  Tags
                </NavLink>
              </li>
            </ul>
          </section>
          <section class="flex flex-col items-start mb-6">
            <div class="mb-4">
              <h2 class="text-sm text-gray-400">Information</h2>
            </div>
            <ul class="text-base text-gray-700">
              <li class="mb-4 w-full">
                <NavLink href={core.path.fromPathByLocale('biography')(router.locale)}>
                  Biography
                </NavLink>
              </li>
              <li class="mb-4 w-full">
                <NavLink href={core.path.fromPathByLocale('contact')(router.locale)}>
                  Contact
                </NavLink>
              </li>
              <li class="mb-4 w-full">
                <a href={profile.resumeEn.url} target="_blank">
                  CV
                </a>
              </li>
            </ul>
          </section>
        </NavMenu>
      </li>
    </ul>
  </header>
  <header class="self-start header z-50 sticky top-16 md:flex flex-col bg-white hidden text-sm">
    <div class="h-20 leading-none">
      <a class="main font-semibold text-gray-700 text-lg block mb-1" href={core.path.fromPathByLocale('/')(router.locale)}>
        Eriko Ikeda Kay
      </a>
      <span class="text-sm text-gray-400">
        Japanese Translator
      </span>
    </div>
    <section class="flex flex-col items-start mb-6">
      <div class="mb-4 leading-none">
        <span class="text-sm text-gray-400">Works</span>
      </div>
      <ul class="text-base text-gray-700">
        <li class="mb-4 w-full">
          <NavLink href={core.path.fromPathByLocale('translations')(router.locale)}>
            Translations
          </NavLink>
        </li>
        <li class="mb-4 w-full">
          <NavLink href={core.path.fromPathByLocale('tags')(router.locale)}>
            Tags
          </NavLink>
        </li>
      </ul>
    </section>
    <section class="flex flex-col items-start mb-6">
      <div class="mb-4 leading-none">
        <span class="text-sm text-gray-400">Information</span>
      </div>
      <ul class="text-base text-gray-700">
        <li class="mb-4 w-full">
          <NavLink href={core.path.fromPathByLocale('biography')(router.locale)}>
            Biography
          </NavLink>
        </li>
        <li class="mb-4 w-full">
          <NavLink href={core.path.fromPathByLocale('contact')(router.locale)}>
            Contact
          </NavLink>
        </li>
        <li class="mb-4 w-full">
          <a href={profile.resumeEn.url} target="_blank">
            CV
          </a>
        </li>
      </ul>
    </section>
  </header>
  <div class="flex flex-col flex-grow md:mt-16 mt-8">
    <div class="flex flex-col flex-grow md:mb-12"  data-pagefind-body>
      <slot />
    </div>
    <footer class="text-xs text-gray-400 h-16 col-span-full	grid grid-cols-8 grid-rows-2">
      <div class="grid items-center col-span-5 row-span-2">
        <span>
          Copyright © {time.now().getFullYear()} | All rights reserved.
        </span>
      </div>
      <div class="grid items-center justify-items-end row-span-2 col-span-3 col-end-9">
        <span>
          Have a nice day
        </span>
      </div>
    </footer>
  </div>
</body>
<style>
  .header {
    & .main {
      font-family: 'Karla-SemiBold';
      letter-spacing: -0.04em;
    }
  }
</style>
<script>
  const setupLocaleSelect = (context: { window: Window }) => {
    const select = context.window.document.querySelector('#locale-selector')
    const handler = (event: Event) => {
      if (event.target instanceof HTMLSelectElement) {
        context.window.location.href = event.target.value
      }
    }
    select?.addEventListener('change', handler);
    return () => {
      select?.removeEventListener('change', handler)
    }
  }

  const main = (context: { window: Window }) => {
    return [
      setupLocaleSelect(context)
    ].reduce(
      (acc, cb) => () => {
        acc();
        cb();
      },
      () => null
    )
  }
  main({ window });
</script>
